@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.custom-scrollbar::-webkit-scrollbar {
		width: 3px;
		height: 3px;
		border-radius: 2px;
	}

	.custom-scrollbar::-webkit-scrollbar-track {
		background: #09090a;
	}

	.custom-scrollbar::-webkit-scrollbar-thumb {
		background: #5c5c7b;
		border-radius: 50px;
	}

	.custom-scrollbar::-webkit-scrollbar-thumb:hover {
		background: #7878a3;
	}
}

.no-focus {
	@apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
}

/* Tab */
.tab {
	@apply flex min-h-[50px] flex-1 items-center gap-3 bg-dark-2 text-light-2 data-[state=active]:bg-[#0e0e12] data-[state=active]:text-light-2 !important;
}

/* Input */
.input {
	@apply flex h-10 w-full rounded-md border border-slate-200 bg-white px-3 py-2 text-small-regular ring-offset-white file:border-0 file:bg-transparent file:text-small-regular file:font-medium placeholder:text-slate-500 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-slate-400 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 dark:border-slate-800 dark:bg-slate-950 dark:ring-offset-slate-950 dark:placeholder:text-slate-400 dark:focus-visible:ring-slate-800;
}
